/*
Variable usage examples:

body {
    background-color: $base-background;
    color: $base-text-color;
    font-family: $body-font, sans-serif;
    @include font-size($body-font-size);
}
*/

$base-background: #1B3D4F;
$base-text-color: #D6D6D6;

$contrast-background: #7A252B;
$contrast-text-color: #D6D6D6;

$accent-background: #7D5526;
$accent-text-color: #D6D6D6;

$friend-news-background: #fff8dc;

$test-color: #7A252B;

$body-font: Lato;
$body-font-size: 1.6;
$title-font: Lustria;
$strongweight: 700;

$text-input-background-color: #fff8dc;