/*

▄▄▄▄▄▄▄▄▄▄   ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄         ▄  ▄       ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄ 
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌     ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
▐░█▀▀▀▀▀▀▀█░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌      ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ 
▐░▌       ▐░▌▐░▌          ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░▌          
▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄▄▄ ▐░█▄▄▄▄▄▄▄█░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄ 
▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌       ▐░▌▐░▌          ▐░▌     ▐░░░░░░░░░░░▌
▐░▌       ▐░▌▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀ ▐░█▀▀▀▀▀▀▀█░▌▐░▌       ▐░▌▐░▌          ▐░▌      ▀▀▀▀▀▀▀▀▀█░▌
▐░▌       ▐░▌▐░▌          ▐░▌          ▐░▌       ▐░▌▐░▌       ▐░▌▐░▌          ▐░▌               ▐░▌
▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░▌          ▐░▌       ▐░▌▐░█▄▄▄▄▄▄▄█░▌▐░█▄▄▄▄▄▄▄▄▄ ▐░▌      ▄▄▄▄▄▄▄▄▄█░▌
▐░░░░░░░░░░▌ ▐░░░░░░░░░░░▌▐░▌          ▐░▌       ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░▌     ▐░░░░░░░░░░░▌
▀▀▀▀▀▀▀▀▀▀   ▀▀▀▀▀▀▀▀▀▀▀  ▀            ▀         ▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀       ▀▀▀▀▀▀▀▀▀▀▀ 
                                                                                                

*/

html {
    // sets up the base 10 for font-size and rem-fallback mixins
    font-size: 62.5%;
}

body {
    background-color: $base-background;
    color: $base-text-color;
    font-family: $body-font, sans-serif;
    @include font-size($body-font-size);
}

* {
    @include selection {
        background: $base-text-color;
        color: #fff;
    }
}

a {
    text-decoration: none;
    color: $friend-news-background;
    &:hover,
    &:active {
        text-decoration: underline;
        color: $base-text-color;
    }
}

p {
    @include rem-fallback(margin, 0, 0, 0, 2.4);
    @include rem-fallback(padding, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font, serif;
    font-weight: 500;
    @include rem-fallback(margin, 0, 0, 1.6);
    padding: 0;
}

h1 {
    @include font-size($body-font-size + 2);
}

h2 {
    @include font-size($body-font-size + 1.4);
}

h3 {
    @include font-size($body-font-size + .8);
}

h4 {
    @include font-size($body-font-size + .4);
}

h5 {
    @include font-size($body-font-size + .2);
}

h6 {
    @include font-size($body-font-size);
}

/* Objects */

img {
    height: auto;
    max-width: 100%;
}




// nutshell styles

.centered {
    margin: 0 auto;
}

.btn {
    border-radius: 3px;
    color: $accent-text-color;
    @include font-size($body-font-size);
    background: $accent-background;
    @include rem-fallback(padding, 1, 2);
    @include rem-fallback(margin, 1);
    border: solid $base-text-color 1px;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.btn:hover {
    background: $base-background;
    text-decoration: none;
    color: $base-text-color;
    border: solid $base-text-color 1px;
}

.btn--delete{
     background: $test-color;
     text-decoration: none;
     color: $base-text-color;
     border: solid $base-text-color 1px;
     float: right;
}

.btn--edit {
    color: $base-text-color;
    background: $base-background;
    @include font-size($body-font-size);
    @include rem-fallback(padding, 1, 2);
    @include rem-fallback(margin, 1);
    text-decoration: none;
    text-align: center;
    margin: auto;
}

button {
    border: 0;
}

.nutshellWrap {
    border: 1px solid $base-text-color;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin, 1);
}

#outerWrap{
    max-width: 70%;
}

input[type=text], input[type=password] {
    border: 5px solid $accent-background;
    @include rem-fallback(padding, 1.5);
    @include rem-fallback(margin, 1);
    background: $text-input-background-color;
}


//news styles

.news {
    border: solid 1px $base-text-color;
    @include rem-fallback(padding, 2);
    border-radius: 5px;
    @include rem-fallback(margin, 2);
}

.myNews {
    background-color: $accent-background;
}

.friendNews {
    background-color: $friend-news-background;
    color: $base-background;
    font-style: italic;
    a {
        color: $accent-background;
    }
}

//friend styles

.friendCard{
    border: 1px solid $friend-news-background;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin, 1);
}

//event styles

.nextEvent {
    font-size: 2em;
    font-weight: bold;
}
.eventCard {
    border: 1px solid $friend-news-background;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin, 1);
}

.friendsEvent {
    background-color: $friend-news-background;
    color: $base-background;
}

//message styles