/* all news articles */
.news {}
/* news articles added by current user */
.myNews {}

/* news articles added by user's friends */
.friendNews{}

/* class for all elements of news text input form */
.newsTextInput {}



.form {
  position: absolute;
  bottom: 0;
  left: 0;
}
